services:
  alertmanager:
    container_name: acgs_alertmanager
    image: prom/alertmanager:latest
    ports:
    - 9093:9093
    volumes:
    - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
  grafana:
    container_name: acgs_grafana
    environment:
    - GF_SECURITY_ADMIN_PASSWORD=admin123
    image: grafana/grafana:latest
    ports:
    - 3001:3000
    volumes:
    - grafana_data:/var/lib/grafana
  node_exporter:
    container_name: acgs_node_exporter
    image: prom/node-exporter:latest
    ports:
    - 9100:9100
  prometheus:
    command:
    - --config.file=/etc/prometheus/prometheus.yml
    - --storage.tsdb.path=/prometheus
    - --web.console.libraries=/etc/prometheus/console_libraries
    - --web.console.templates=/etc/prometheus/consoles
    - --storage.tsdb.retention.time=200h
    - --web.enable-lifecycle
    container_name: acgs_prometheus
    image: prom/prometheus:latest
    ports:
    - 9090:9090
    volumes:
    - ./prometheus.yml:/etc/prometheus/prometheus.yml
    - ./acgs_pgp_rules.yml:/etc/prometheus/acgs_pgp_rules.yml
version: '3.8'
volumes:
  grafana_data: {}
